---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

body {
  // background-color: #292929; //$brackground-color
  // color: #fdfdfd; //$text-color
}

code {
  // color: #000;
}

a {
  color: red!important; //$brand-color
}

a:hover {
  text-shadow: 2px -8px rgba(255, 255, 0, 0.5)!important;
  font-style: italic;
  text-decoration: none;
}

div.footer-col-wrapper, p.post-meta {
  // color: #aaa; //$grey-color
}

figure, pre {
  border-radius: 8px;
}
